<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Yet Another Password Generator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/optimized.css">
    <script src="/static/javascript/optimized.js"defer></script>
    <link rel="manifest" href="/static/manifest.json" />
    <link rel="icon" type="image/png" href="/static/assets/icons/96.png" />
    <meta name="theme-color" content="#282828"/>
    <meta name="description" content="A simple password generator.">
    <meta name="keywords" content="password, generator, password generator">
    <meta name="author" content="Kobeni">
    <meta property="og:title" content="Yet Another Password Generator">
    <meta property="og:description" content="A simple password generator.">
    <meta property="og:image" content="/static/assets/icons/128.png">
    <meta property="og:url" content="https://kobenisilly.pythonanywhere.com/">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/assets/icons/password.svg" width="96" height="96" alt="Password Icon">
            <h1>Yet Another Password Generator</h1>
        </div>
        <div class="generator-container">
            <form id="passwordForm" action="/generate" method="POST">
                <div class="form-group">
                    <label for="length">Password Length:</label>
                    <input type="range" id="length" name="length" min="1" max="128" value="16">
                    <output id="lengthOutput">16</output>
                </div>
                <div class="form-group">
                    <label><input type="checkbox" id="uppercaseCheckbox" name="uppercase" checked> Uppercase Letters</label>
                    <label><input type="checkbox" id="lowercaseCheckbox" name="lowercase" checked> Lowercase Letters</label>
                    <label><input type="checkbox" id="digitsCheckbox" name="digits" checked> Digits</label>
                    <label><input type="checkbox" id="specialCheckbox" name="special" checked> Special Characters</label>
                </div>
                <div class="form-group">
                    <button type="button" id="generateBtn" onclick="generatePassword()">Generate Password</button>
                    <button type="button" onclick="copyToClipboard()">Copy</button>
                </div>
            </form>
            <div id="passwordDisplay" class="password-box"></div>
        </div>
    </div>

    <footer style="text-align: center; padding: 10px; font-size: small; color: rgb(0, 140, 255);">
        This password generator uses the <a href="https://docs.python.org/3/library/secrets.html">Python secrets module</a> for generating passwords.
    </footer>

</body>
</html>
