<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Kobeni's Password Generator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/optimized.css">
    <script src="/static/javascript/optimized.js"defer></script>
    <link rel="manifest" href="/static/manifest.json" />
    <link rel="icon" type="image/png" href="/static/assets/icons/96.png" />
    <meta name="theme-color" content="#1e1e1e"/>
    <meta name="description" content="A simple yet useful password generator.">
    <meta name="keywords" content="password, generator, password generator">
    <meta name="author" content="Kobeni">
    <meta property="og:title" content="Kobeni's Password Generator">
    <meta property="og:description" content="a simple yet useful password generator.">
    <meta property="og:image" content="/static/assets/icons/128.png">
    <meta property="og:url" content="https://kobenisilly.pythonanywhere.com/">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/assets/icons/password.svg" width="96" height="96" alt="Password Icon">
            <h1>Kobeni's Password Generator</h1>
        </div>
        <div class="generator-container">
            <form id="passwordForm" action="/generate" method="POST">
                <div class="form-group">
                    <label for="length">Password Length:</label>
                    <input type="range" id="length" name="length" min="1" max="128" value="16">
                    <output id="lengthOutput">16</output>
                </div>
                <div class="form-group">
                    <label><input type="checkbox" id="uppercaseCheckbox" name="uppercase" checked> Uppercase</label>
                    <label><input type="checkbox" id="lowercaseCheckbox" name="lowercase" checked> Lowercase</label>
                    <label><input type="checkbox" id="digitsCheckbox" name="digits" checked> Digits</label>
                    <label><input type="checkbox" id="specialCheckbox" name="special" checked> Special Characters</label>
                </div>
                <div class="form-group">
                    <button type="button" id="generateBtn" onclick="generatePassword()">Generate Password</button>
                    <button type="button" onclick="copyToClipboard()">Copy</button>
                    <span id="message" class="message" style="color: rgb(0, 196, 0); font-style: italic;"></span>
                </div>
            </form>
            <div id="passwordDisplay" class="password-box"></div>
        </div>
    </div>
</body>
</html>
